body {
	font-family: ;
}

header {
	background: url("../images/background_lua_ilustra1.png");
	background-size:  auto 100%;
	
}

.caixa {
	position: relative;
	width: 900px;
	height: 250px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 150px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	font-family: Cormorant Garamond;
	font-weight: 300;
	 
}

nav a:hover {
	color: #ffffff ;
	border-bottom: 0.15px solid #ffffff;

}

.trabalhos {
	width: 940px;
	margin: 2rem auto;
	padding: 50px 0;
}

.trabalhos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 1px solid #8f8787;
	transition:.3s all;
	font-family: Cormorant Garamond;

}

.trabalhos li:hover {
	border-color: #c41466a8;
	 transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px #a81158a8;
}

.trabalhos li:active {
	border-color: ;	
}

.trabalhos li:hover h2 {
	font-size: 34px;
}

.trabalhos h2 {
	font-size: 30px;
	font-weight: bold;
}
.trabalhos img{
	padding-top: 1rem;
	
}

.trabalhos .image3-trabalhos{
	padding-top: 3rem;
}

.descricao-persona{
	margin-top: 2rem;
	margin-bottom: 12rem;
	border-top: 0.50px solid #000000;
	padding-top: 5rem;
	text-align: justify;
	font-family: Cormorant Garamond ;
	font-size: 1.5em;
}

.titulo-descricao {
	text-align: center;
	font-size: 1.5em;
	margin: 0 0 1em;
	clear: left;
    
}

.descricao-persona p {
	margin: 0 0 1em;
}

.descricao-persona strong {
	font-weight: bold;
}

.descricao-persona em {
	font-style: italic;
}

.persona {
	width: 150px;
	height: 150px;
	float: left;
	margin: 0 20px 20px 0;
	border-radius: 50%;

}

footer {
	text-align: center;
	background: url("../images/footer-lua2.png");
	padding: 25px 0;
}
 

.copyright {
	color: #000000;
	font-size: 13px;
	margin: 20px 0 0;
}

main {
	width: 940px;
	margin: 0 auto;
}
