body {
	font-family: ;
}

header {
	background: url("../images/background_lua_ilustra1.png");
	background-size:  auto 100%;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 150px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color:;
	text-decoration: underline;
}

.trabalhos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.trabalhos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 1px solid #8f8787;
}

.trabalhos li:hover {
	border-color: #e20d71a8;
}

.trabalhos li:active {
	border-color: ;	
}

.trabalhos li:hover h2 {
	font-size: 34px;
}

.trabalhos h2 {
	font-size: 30px;
	font-weight: bold;
}
.trabalhos img{
	padding-top: 1rem;
}

.trabalhos .image3-trabalhos{
	padding-top: 3rem;
}

footer {
	text-align: center;
	background: url(" ");
	padding: 40px 0;
}

.copyright {
	color: #000000;
	font-size: 13px;
	margin: 20px 0 0;
}

main {
	width: 940px;
	margin: 0 auto;
}
